@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22649b;
}
.kalkulator {
  position: relative;
  display: grid;
}
.kalkulator .value {
  grid-column: span 4;
  height: 80px;
  width: 240px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
}
.kalkulator span {
  display: grid;
  width: 60px;
  height: 60px;
  color: #000;
  background: #fbf304;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 1);
}
.kalkulator span:active {
  background: #74ff3b;
  color: #fff;
}
.kalkulator span.clear {
  grid-column: span 2;
  width: 120px;
  background: #e92726;
}
.kalkulator span.plus {
  grid-row: span 2;
  height: 120px;
}
.kalkulator span.equal {
  background: #12afec;
}
